@use "sass:math";
@import "../../scss/App.scss";

.header {
   min-height: rem(70);
   background-color: darkblue;
   display: flex;
   align-items: center;
   margin-bottom: rem(50);
}
.menu {
   display: flex;
   align-items: center;
   column-gap: rem(20);
   flex: 1 1 auto;
   margin-left: rem(50);
}
.input {
   padding: rem(5) rem(15);
}
.link {
   color: white;
   font-weight: 700;
}
.cart {
   color: white;
   cursor: pointer;
}
