@use "sass:math";
@import "../../scss/App.scss";

.header {
   min-height: rem(70);
   background-color: darkblue;
   display: flex;
   align-items: center;
   margin-bottom: rem(50);
}
.input {
   padding: rem(5) rem(15);
   width: rem(300);
}
.cart {
   color: white;
   cursor: pointer;
}
