@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import "./Reset.scss";
@import "./function.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

body {
  font-family: "Roboto Slab", serif;
}

[class*="__container"] {
  max-width: rem(1200);
  margin: 0 auto;
  padding: 0 rem(15);
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.app__container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
}
.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: rem(15);
  align-items: center;
}
.slider {
  margin-bottom: rem(50);
}
.coffee {
  margin-bottom: rem(150);
}
.button {
  background-color: transparent;
  padding: rem(5) rem(10);
  border: 1px solid #3313e7;
  border-radius: rem(15);
  transition: 0.3s all ease 0s;

  &:hover {
    background-color: #3313e7;
    transition: 0.3s all ease 0s;
    color: white;
  }
}

.input {
  border: 1px solid #3313e7;
  border-radius: rem(15);
  padding: rem(5) rem(10);
}
.active {
  width: 200px;
  height: 200px;
}
